<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <style>
        #links-container {
            position: fixed;
            top: 10px;
            right: 10px;
            display: inline-block;
        }
        #home-link, #login-profile-link {
            margin-right: 10px;
        }
    </style>
</head>
<body>
  <div id="links-container">
    <a id="home-link" href="/">Home</a>

    {% if is_logged_in %}
      <a id="login-profile-link" href="{{ url_for('profile') }}">Welcome {{ username }}</a>
    {% else %}
      <a id="login-profile-link" href="{{ url_for('login') }}">Log in</a>
    {% endif %}
    </div>
  
  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
