<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>

    <h1>User Profile</h1>

    {% if user %}
        <p><strong>Username:</strong> {{ user['username'] }}</p>

        <h2>Recipes Created:</h2>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <strong>{{ recipe.title }}</strong> 
                    (Recipe ID: {{ recipe[0] }})
                    <br>Yield: {{ recipe.yield }}
                    <br>Calories: {{ recipe.calories }}
                    <br>{{ recipe.text }}
                </li>
            {% else %}
                <li>No recipes created.</li>
            {% endfor %}
        </ul>

        <h2>Reviews Written:</h2>
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>{{ review.title }}</strong> (Review ID: {{ review[0] }})
                    <br><em style="font-size: 0.8em;">Recipe ID: {{ review[1] }}</em>
                    <br>{{ review.text }}
                    <br><small>Posted on: {{ review.timestamp }}</small>
                </li>
            {% else %}
                <li>No reviews found.</li>
            {% endfor %}
        </ul>

        <h2>Recipes Liked:</h2>
        <ul>
            {% for recipe in liked_recipes %}
                <li>
                    <strong>{{ recipe.title }}</strong> 
                    (Recipe ID: {{ recipe[0] }})
                    <br>Yield: {{ recipe.yield }}
                    <br>Calories: {{ recipe.calories }}
                    <br>{{ recipe.text }}
                </li>
            {% else %}
                <li>No recipes liked.</li>
            {% endfor %}
        </ul>

    {% else %}
        <p>User not found!</p>
    {% endif %}

</body>
</html>
